@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!--bring in the model, split into grid layout, and have the form with information to fill out.-->
@model Mission08_Team0210.Models.Task
<form method="post">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <input type="hidden" asp-for="TaskId" />


                <label asp-for=CategoryId></label>
                <select asp-for="CategoryId">
                    <option value="">Select a Category</option>
                    @if (ViewBag.Categories != null)
                    {
                        foreach (var c in ViewBag.Categories)
                        {
                            <option value="@c.CategoryId">@c.CategoryName</option>
                        }
                    }
                </select>
                <br />
                <br />

                <label asp-for="TaskName">Task Name:</label>
                <input asp-for="TaskName" />
                <span asp-validation-for="TaskName" class=text-danger></span>
                <br />
                <br />

                <label asp-for="DueDate">Due Date</label>
                <input asp-for="DueDate" />
                <br />
                <br />
            </div>
            <div class="col-4">
                <label asp-for=Quadrant:></label>
                <select asp-for="Quadrant">
                    <option>Select a Quadrant</option>
                    <option>Quadrant I: Important / Urgent</option>
                    <option>Quadrant II: Important / Not Urgent</option>
                    <option>Quadrant III: Not Important / Urgent</option>
                    <option>Quadrant IV: Not Important / Not Urgent</option>
                </select>
                <br />
                <br />

                <label asp-for="Completed">Completed:</label>
                <select asp-for="Completed">
                    <option value="false">False</option>
                    <option value="true">True</option>
                </select>
                <br />
                <br />
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</form>

