@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Mission08_Team0210.Models.Task

<form method="post">

    <input type="hidden" asp-for="TaskId" />

    <select asp-for="CategoryId">
        <option value="">Select a Category</option>
        @if (ViewBag.Categories != null)
        {
            foreach (var c in ViewBag.Categories)
            {
                <option value="@c.CategoryId">@c.CategoryName</option>
            }
        }
        <option value="Home">Home</option>
        <option value="School">School</option>
        <option value="Work">Work</option>
        <option value="Church">Church</option>
    </select>
   
    <label asp-for="TaskName">Task Name:</label>
    <input asp-for="TaskName" />
    <br />
    <br />

    <label asp-for="DueDate">Due Date</label>
    <input asp-for="DueDate" />
    <br />
    <br />

    <label asp-for="Quadrant">Quadrant</label>
    <input asp-for="Quadrant" />
    <br />
    <br />

    <label asp-for="Completed">Completed:</label>
    <select asp-for="Completed">
        <option value="true">True</option>
        <option value="false">False</option>
    </select>
    <br />
    <br />

    <button type="submit">Submit</button>
</form>
