@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Mission08_Team0210.Models.Task

<h1>Confirm Completion</h1>
<h3>@Model.TaskName</h3>

<form method="post">

    <input type="hidden" asp-for="TaskId" />
    <input type="hidden" asp-for="TaskName" />
    <input type="hidden" asp-for="DueDate" />
    <input type="hidden" asp-for="Quadrant" />
    <input type="hidden" asp-for="CategoryId" />
    <input type="hidden" asp-for="Completed" />

    <button type="submit">Complete</button>
    <a class="btn btn-info" asp-controller="Home" asp-action="Quadrants">Cancel</a>
</form>