@{
    ViewData["Title"] = "Home Page";
}
@model List<Mission08_Team0210.Models.Task>


<div class="container">
    <div class="row">
        <div class="col-4">
            <h1>Welcome!</h1>
            <img src="~/img/tasklist.jpg" width="150" />
            <p>
                This website is here to help you organize your tasks!
            </p>
        </div>
    </div>
</div>



<table class="table table-bordered">

    <thead class="fw-bold">

        <tr>
            <td>TaskName</td>

        </tr>

    </thead>

    @foreach (var task in Model)
    {
        <tbody>
            <tr>
                <td>@task.TaskName</td>
            </tr>
        </tbody>
    }

</table>